body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.Main-container{
    font-family: Epilogue;
}
.Logo{
    position: relative;
    right: -300px;
    top: 50px;
    width: 78.41px;
    height: 24.8px;
    
}
.Hero-portrait{
    position: relative;
    top: -300px;
    right: -300px;
    z-index: 1;
    width: 350px;
    height: 600px;
}

.Curve1{
    width: 287px;
    height: 36px;
    position: relative;
    top: 170px;
    right: -400px;
    z-index: 2;
}
h1{
    width: 635px;
    height: 156px;
    font-size: 50px;
    position: relative;
    top: 150px;
    right: -300px;
    z-index: 3;
}
h2{
font-size: 48px;
}
#companies{
padding: 1em;
line-height: 0.5em;
}
#languages{
padding: 1em;
line-height: 0.5em;
}
#leads{
padding: 1em;
line-height: 0.5em;
}
#company{
text-transform: uppercase;
}
#language{
    text-transform: uppercase;
}
#lead{
    text-transform: uppercase;
}
.Access1{
    position: relative;
    right: -800px;
    top: 10px;
    width: 256px;
    height: 61px;
}
.Button1{
    position: relative;
    right: -250px;
    width: 256px;
    height: 61px;
    color: black;
    background-color:white;
}

.Button2{
    position: relative;
    right: -150px;
    width: 256px;
    height: 61px;
    color: white;
    background-color: #020230;
}

.Hero-text{
    padding: 25px 20px;
    max-width: 350px;
    height: 96px;
    position: relative;
    top: 100px;
    right: -280px;
    line-height: 2em;
}
.Section-one{
    text-align: justify;
}
.Access2{
    width: 219px;
    height: 56px;
    margin: 25px 20px;
    padding: 10px;
    position: relative;
    top: -450px;
    right: -120px;
}
aside{
    width: 50%;
    margin: auto;
    text-align: center;
}
ul{
    list-style-type: none;
    position: relative;
    right: -400px;
    top: -900px;
}
.Jeremy-image{
    position: relative;
    width: 359.81px;
    height: 589.56px;
    left: 300px;
    top: -191px;
    z-index: 7;
}
.Pattern-blur{
    position: relative;
    top: -220px;
    right: 160px;
    z-index: 6;
}


blockquote{
    background-color: #020230;
    position: relative;
    top: -800px;
    right: -200px;
    width: 1109px;
    height: 589.56px;
    text-align: center;
    border-radius: 20px;
    z-index: 5;

}
.Curve-two{
    position: relative;
    top: 200px;
    left: -80px;
}
.Note1{
    width: 299px;
    height: 56px;
    font-size: 46px;
    z-index: 4;
    position: relative;
    right: -620px;
    bottom: -50px;
    border: 5px;
    text-align: center;
    color: white;
}
.Note2{
    width: 350px;
    height: 175px;
    font-size: 20px;
    z-index: 4;
    line-height: 1.5em;
    position: relative;
    right: -590px;
    bottom: -50px;
    border: 5px;
    text-align: justify;
    color: white;
}

figcaption{
    position: relative;
    right: -150px;
    bottom: -70px;
    color: white;
    text-transform: uppercase;
}

.Footer-ul{
    width: 960px;
    background-color: #FFFFD5;
    display: flex;
    position: relative;
    right: -240px;
    align-items: center;
    padding: 5em;
    z-index: 1;
}
.Section-three{
    position: absolute;
    z-index: 3;
}
.Footer-logo{
    position: relative;
    left:-60px;
}
.Copyright{
    position: relative;
    right: -300px;
}
#facebook-logo{
position: relative;
padding: 1em;
right: -700px;
cursor: pointer;
}
#twitter-logo{
position: relative;
padding: 1em;
right: -700px;
}
#instagram-logo{
position: relative;
padding: 1em;
right: -700px;
}
@media screen and (min-width: 320px) and (max-width: 450px) { 

    .main-container{
        font-family: Epilogue;
        width: 100%;
    }
    .Logo{
        position: relative;
        right: -110px;
        top: 30px;
        width: 78.41px;
        height: 24.8px;
        
    }
    .Hero-portrait{
        position: relative;
        top: 130px;
        right: -170px;
        z-index: 1;
        width: 343px;
        height: 240px;
    }
    
    .Curve1{
        position: relative;
        top: 130px;
        right: -290px;
        z-index: 2;
    }
    .Curve-one{
    position: relative;
    width: 151.47px;
    height: 19px;
    right: -40px;
    }
    h1{
        width: 343px;
        height: 89px;
        font-size: 38px;
        position: relative;
        top: 110px;
        right: -170px;
        z-index: 3;
    }
    h2{
    font-size: 48px;
    }
    #portrait-list{
        width: 344px;
        height: 313px;
    }
    #companies{
    position: relative;
    right: 350px;
    bottom: -500px;
    padding: 1em;
    line-height: 0.5em;
    }
    #languages{
    position: relative;
    bottom: -500px;
    right: 350px;
    padding: 1em;
    line-height: 0.5em;
    }
    #leads{
    position: relative;
    bottom: -500px;
    right: 350px;
    padding: 1em;
    line-height: 0.5em;
    }
    #company{
    text-transform: uppercase;
    }
    #language{
        text-transform: uppercase;
    }
    #lead{
        text-transform: uppercase;
    }
    .Access1{
        position: relative;
        right: -210px;
        top: 0;
        width: 256px;
        height: 61px;
    }
    .Button1{
        position: relative;
        right: -210px;
        width: 182px;
        height: 48px;
        color: black;
        background-color:white;
    }
    
    .Button2{
        position: relative;
        width: 182px;
        height: 48px;
        bottom: -530px;
        right: -110px;
        color: white;
        background-color: #020230;
        cursor: pointer;
    }
    
    .Hero-text{
        font-size: 16px;
        position: relative;
        top: 70px;
        left: 150px;
        line-height: 1.2em;
    }
    .Section-one{
        text-align: justify;
    }
    .Access2{
        width: 219px;
        height: 56px;
        margin: 25px 20px;
        padding: 10px;
        position: relative;
        font-size: 16px;
        bottom: -70px;
        right: -31px;
    }
    aside{
        width: 50%;
        margin: auto;
        text-align: center;
    }
    ul{
        list-style-type: none;
        position: relative;
        top: -350px;
    }
    .Jeremy-image{
        position: relative;
        width: 252px;
        height: 402px;
        left: 210px;
        top: 275px;
        z-index: 7;
    }
    .Pattern-blur{
        position: relative;
        width: 307px;
        height: 417px;
        top: -50px;
        right: -180px;
        z-index: 6;
    }
    
    
    blockquote{
        background-color: #020230;
        position: relative;
        top: -380px;
        left: 120px;
        width: 375px;
        height: 748px;
        text-align: center;
        border-radius: 20px;
        z-index: 5;
    }
    .Curve-two{
        width: 49.27px;
        position: relative;
        top: 250px;
        left: -10px;
    }
    .Note1{
        height: 48px;
        font-size: 40px;
        z-index: 4;
        position: relative;
        bottom: -245px;
        left: 33px;
        color: white;
    }
    .Note2{
        width: 343px;
        height: 160px;
        font-size: 18px;
        z-index: 4;
        line-height: 1.5em;
        position: relative;
        bottom: -260px;
        left: 13px;
        color: white;
    }
    
    figcaption{
        position: relative;
        bottom: -320px;
        right: 10px;
        color: white;
        text-transform: uppercase;
    }
    
    .Footer-ul{
        display: flex;
        width: 100%;
        background-color: #FFFFD5;
        position: relative;
        top: -450px;
        left: 20px;
        padding: 5em;
        z-index: 1;
    }
    
    .Footer-logo{
        position: relative;
        top: -25px;
        width: 81px;
        height: 32px;
        font-size: 32px;
        left: 210px;
    }
    .Copyright{
        position: relative;
        bottom: -30px;
        left: 120px;
        font-size: 15px;
    }
    #facebook-logo{
    position: relative;
    padding: 1.3em;
    bottom: -70px;
    left: -20px;
    cursor: pointer;
    }
    #twitter-logo{
    position: relative;
    bottom: -70px;
    padding: 1.3em;
    left: -20px;
    }
    #instagram-logo{
    position: relative;
    bottom: -70px;
    padding: 1.3em;
    left: -20px;
    }  
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 820px) {
    
.Main-container{
    font-family: Epilogue;
    width: 100%;
}
.Logo{
    position: relative;
    right: -160px;
    top: 30px;
    width: 78.41px;
    height: 24.8px;
    
}
.Hero-portrait{
    position: relative;
    top: -300px;
    right: -290px;
    z-index: 1;
    width: 281px;
    height: 482px;
}

.Curve1{
    width: 231.19px;
    height: 29px;
    position: relative;
    top: 170px;
    right: -370px;
    z-index: 2;
}
h1{
    width: 635px;
    height: 156px;
    font-size: 56px;
    position: relative;
    top: 150px;
    right: -183px;
    z-index: 3;
}
h2{
font-size: 48px;
}
#companies{
position: relative;
right: 250px;
padding: 1em;
line-height: 0.5em;
}
#languages{
position: relative;
right: 175px;
padding: 1em;
line-height: 0.5em;
}
#leads{
position: relative;
right: 95px;
padding: 1em;
line-height: 0.5em;
}
#company{
text-transform: uppercase;
}
#language{
    text-transform: uppercase;
}
#lead{
    text-transform: uppercase;
}
.Access1{
    position: relative;
    right: -527px;
    top: 10px;
    width: 256px;
    height: 61px;
}
.Button1{
    position: relative;
    right: -110px;
    width: 256px;
    height: 61px;
    color: black;
    background-color:white;
    cursor: pointer;
}
.Button1:hover{
    background-color: #020230;
    color: white;
}
.Button2{
    width: 256px;
    height: 61px;
    color: white;
    background-color: #020230;
    cursor: pointer;
}
.Button2:hover{
    background-color:#A060FF;
}
.Hero-text{
    padding: 25px 20px;
    max-width: 350px;
    height: 96px;
    position: relative;
    top: 100px;
    right: -130px;
    line-height: 2em;
}

.Section-one{
    text-align: justify;
}
.Access2{
    width: 219px;
    height: 56px;
    margin: 25px 20px;
    padding: 10px;
    position: relative;
    font-size: 16px;
    top: -350px;
    right: -120px;
}
aside{
    width: 50%;
    margin: auto;
    text-align: center;
}
ul{
    list-style-type: none;
    position: relative;
    display: flex;
    top: -350px;
}
.Jeremy-image{
    position: relative;
    width: 252px;
    height: 402px;
    left: 425px;
    top: -355px;
    z-index: 7;
}
.Pattern-blur{
    position: relative;
    width: 417px;
    height: 417px;
    top: -270px;
    right: -95px;
    z-index: 6;
}


blockquote{
    background-color: #020230;
    position: relative;
    top: -600px;
    right: -164px;
    width: 689px;
    height: 684px;
    text-align: center;
    border-radius: 20px;
    z-index: 5;

}
.Curve-two{
    width: 49.27px;
    position: relative;
    top: 250px;
    left: -10px;
}
.Note1{
    height: 48px;
    font-size: 40px;
    z-index: 4;
    position: relative;
    bottom: -235px;
    right: -210px;
    color: white;
}
.Note2{
    height: 96px;
    width: 573px;
    font-size: 18px;
    z-index: 4;
    line-height: 2em;
    position: relative;
    bottom: -245px;
    right: -130px;
    color: white;
}

figcaption{
    position: relative;
    bottom: -320px;
    right: -3px;
    color: white;
    text-transform: uppercase;
}

.Footer-ul{
    width: 960px;
    background-color: #FFFFD5;
    display: flex;
    position: relative;
    top: -700px;
    right: 3px;
    align-items: center;
    padding: 5em;
    z-index: 1;
}

.Footer-logo{
    position: relative;
    left: 120px;
}
.Copyright{
    width: 125px;
    position: relative;
    left: 340px;
}
#facebook-logo{
position: relative;
padding: 1em;
right: -470px;
cursor: pointer;
}
#twitter-logo{
position: relative;
padding: 1em;
right: -470px;
}
#instagram-logo{
position: relative;
padding: 1em;
right: -470px;
}

}